
/* TEXT THEMES */
.box {
    width: 80%;
}
body {
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url("images/homepage.png"); */
    background-color:#ffedf3;
    color: rgb(0, 0, 0);
    line-height: 145%;

}
.blog-footer {
    background-color: rgb(253, 253, 253);
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.special-font {
    font-family: "Chancery", "cursive"
}
.main-gradient {
    color:rgb(255, 228, 255) !important;
    background-image: linear-gradient(90deg, rgba(255,143,194,255) , rgba(173,51,104,255));
    height:fit-content;
    
}

.container-small {
    margin: auto;
	width: 10%;
}
.main-gradient h1 {
    color:#ffffff;
}
.white {
    background-color:#ffffff;
}

.banner {
    border-radius: 0px !important;
    height:50px;
    width: 100%;
}
p a {
    color: rgb(60, 69, 156);
}
p {
    font-weight: 540;
}
h1 {
    font-weight: bolder;
    text-align: center;
}
h2 {
    color: darkblue;
}
.darkerColor {
    color:rgb(121, 4, 121);
}
a:hover {
    color:rgb(46, 2, 46);
}
.lighterColor {
    color:rgb(100, 30, 198);
}
.intro {
    margin-top:1%;
}
.text-center {
    text-align: center;
}
.limited-center {
    margin-left:10%;
    margin-right:10%;
    width:80%;
}

/* IMAGES */

img.profile {
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
img.art {
    width: 250px;
    height:250px;
    margin:1%; 
}
.small-square {
    width:200px !important;
    height:200px !important;

}
.portfolio-border, .portfolio {
    border-radius: 10px !important;
    color: rgb(60, 69, 156);
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    font-size: 15px;
}
img.portfolio-border, img.portfolio-border {
    margin: 5px;
    border-width: 2px;
    
}
.portfolio-h4 {
    margin:0px;
    /* font-size: 15px; */
}
img.portfolio-border {
    border-style: outset;
    border-color:rgb(0, 0, 26);
}
.portfolio-p {
    margin:15px;
    color:rgb(0, 0, 26);

}
img.portfolio-border:hover{
    border-style: outset;
    border-color:rgb(76, 0, 76);
}
.portfolio-h4:hover {
    color:rgb(0, 0, 26);
}

img.home {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

/* NAVIGATION */
nav {
    background-image: url("images/homepage-banner.png");
}
nav ul a {
    color:rgb(255, 255, 255); 
}
nav li {
    font-size:130%;
}
nav ul {
    list-style-type: none;
    color:rgb(253, 101, 124); 
}
nav ul{
    /* margin-top: 10px !important; */
    /* padding-top: 10px !important; */
    /* margin: 1%; */
    padding:1%;
}

/* WIDE NAVIGATION */
#wide-navigation ul a {
    text-decoration: overline;
}
#wide-navigation li {
    padding-left: 2%;
    padding-right: 2%;
}
#wide-navigation ul {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    text-decoration: overline;
}

/* MOBILE NAVIGATION */
#small-navigation li {
    padding:1%;
}
#small-navigation ul li:hover {
    background-color:#f4d9e3;
}
#small-navigation ul a:hover {
    text-decoration: none;
}
button img {
    border-radius: 0px !important;
}
button {
    background-color: transparent;
    border: 0px;
}

/* Displays smaller than 700px, hide wide navigation & show the nav button */
@media (max-width: 700px) { 
    #wide-navigation {
        display:none;
    }
    #nav-control {
        
        padding-top: 3%;
        padding-bottom: 3%;

        display:block !important; 
    }
    #nav-control-div {
        background-image: url("images/homepage-banner.png");
    }
}
/* Displays larger than 700px, hide mobile navigation if it's currently shown */
@media (min-width: 700px) { 
    #small-navigation {
        display:none;
    }
}

/* ROWS AND COLUMN SPACING */
.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
    margin-bottom:5%;
    width: fit-content;
}
.row2 {
    display: flex;
    flex-direction: row;
}
.column2 {
    display: flex;
    flex-direction: column;
    width:fit-content;
    flex-wrap: wrap;
}

/* TRANSPARENT BACKGROUND CLASSES */
.transparent-background {
    /* background-color:rgba(255,255,255,0.8); */
    border-radius: 2px;
    width:fit-content;
    padding:1%;
}
.transparent-background-no-padding {
    /* background-color:rgba(255,255,255,0.5); */
    border-radius: 2px;
    width:fit-content;
}
.transparent-h1 {
    /* background-color:rgba(255, 183, 183, 0.5); */
    border-radius: 2px;
    width:fit-content;
}
.transparent-background2 {
    /* background-color:rgba(255,255,255,0.5); */
    border-radius: 2px;
    padding:1%;
    width:56%;
    margin-left:20%;
    margin-right:20%;
} 
.transparent-background3 {
    /* background-color:rgba(255,255,255,0.8); */
    border-radius: 2px;
}
.center {
    margin: auto;
    width: 75%;
    margin-bottom: 2%;
}

.courseDesc {
    color:rgb(118, 118, 118);
    font-size: 80%;
}

.small {
    font-size: 90%;
}

